.divRegister {
    width: 100%;
    height: 80svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40svh;
    font-size: 1.7em;
}

@media screen and (max-width: 650px) {
    .pMessage {
        font-size: 1em;
    }
  }